{% load static %}
{% load mainapp_tags %}
<html>
    <head>

    </head>
    <body>
        <br>
        <br>
        <br>
        {% for menu_name in menu %}
    
            <a href="{% url 'mainapp:index' menu_name.slug %}"><h1>{{menu_name}}{% if slug == menu_name.slug %} - Active {% endif %}</h1></a>
            
            
            {% if menu_name.sub_menu.first %}
        
                {% if not slug and forloop.first %}
                    {% draw_menu slug menu_name.slug %}
                {% endif %}

                {% if slug == menu_name.slug %}
                
                        {% draw_menu slug menu_name.slug %}
                    
                    {% else %}
                        
                        {% for ss in menu_name.sub_menu.all %}
                            {% if slug == ss.slug %}
                                {% draw_menu slug menu_name.slug %}
                            {% endif %}
                        {% endfor %}
                            
                {% endif %}

            {% endif %}
                             
        {% endfor %}
    
             
    </body>
</html>