{% load mainapp_tags %}

{% for menu_name in menu %}
    
    <a href="{% url 'mainapp:index' menu_name.slug %}"><h2>{{menu_name}}{% if slug == menu_name.slug %} - Active {% endif %}</h2></a>

    
    {% if menu_name.sub_menu.first %}
        
        {% if slug == menu_name.slug %}
            {% draw_menu slug menu_name.slug %}
        {% endif %}

    {% endif %}
        
    
{% endfor %}
    